<section class="container editar-pensamentos ff-inter">
  <header class="header">
    <h2>Edite o pensamento</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      name="pensamento"
      placeholder="Digite o pensamento"
      formControlName="content"
    />
    <div
      class="mensagem_erro"
      *ngIf="form.get('content')?.touched && !form.get('content')?.valid"
    >
      Pensamento é obrigatório!
    </div>
    <label for="pensamento">Autoria ou fonte</label>
    <input
      type="textarea"
      class="input"
      id="autoria"
      name="pensamento"
      placeholder="Digite a autoria ou fonte"
      formControlName="authorship"
    />
    <div
      class="mensagem_erro"
      *ngIf="form.get('authorship')?.touched && form.get('authorship')?.errors?.['required']"
    >
      Autoria é obrigatória!
    </div>
    <div
      class="mensagem_erro"
      *ngIf="form.get('authorship')?.touched && form.get('authorship')?.errors?.['minlength']"
    >
      Autoria deve ter no mínimo 3 caracteres!
    </div>
    <div
      class="mensagem_erro"
      *ngIf="form.get('authorship')?.touched && form.get('authorship')?.errors?.['pattern']"
    >
      A autoria não pode ter apenas caracteres brancos!
    </div>
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            name="modelo-card"
            formControlName="template"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("content")!.value }}</p>
          <p class="autoria">
            <b>{{ form.get("authorship")!.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            name="modelo-card"
            formControlName="template"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/images/modelo2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo">{{ form.get("content")!.value }}</p>
          <p class="autoria">
            <b>{{ form.get("authorship")!.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            name="modelo-card"
            formControlName="template"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes" />
          <p class="conteudo">{{ form.get("content")!.value }}</p>
          <p class="autoria">
            <b>{{ form.get("authorship")!.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        (click)="editThought()"
        class="botao"
        [ngClass]="!form.valid ? 'botao_desabilitado' : 'botao'"
        [disabled]="false"
      >
        Salvar
      </button>
      <button (click)="cancelEdition()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
